<html>
  <head>
    <title><Startseite></title>
         <meta http-equiv="content-type" content="text/html; charset=utf-8">
         <link href="styleindex.css" type="text/css" rel="stylesheet" / > 
  </head>
  <body >
    <div class ="div1" id="topBar"> Top Bar  </div>
    <div class ="div2" id="inhalt"> 
      <div class ="div2" id="inhalt2"> 
        <h2>Anmelden<h2>
          <input type="text" value="Benutzername" id="textBenutzer"></input><br>
          <input type="passwort" value="Passwort" id="textPasswort"></input><br>
          <input type="submit" id="regButton" value="Registrieren">
          <input type="submit" id="logButton" value="Einloggen">

      </div>

    </div>

  </body>
</html>
