<html>
	<head>
		<title>Produktregistrierung</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"> </script>
		<script type="text/javascript">

			function post()	{
				var p = new Object();
				p.produkt=$("#produkt").val();
				p.hersteller=$("#hersteller").val();
				p.preis=$("#preis").val();
				p.herkunft=$("#herkunft").val();
				p.vorrat=$("#vorrat").val();
				p.gekauft=0;
				
				$.ajax({
					  async: true,
					  host: "localhost",
					  port: 3001,
					  url: '/products',
					  dataType: 'json',
					  type: 'post',
					  contentType: 'application/json',
					  data: JSON.stringify(p),
					  success: function(data){
					  	if(data==201) alert("Produkt existiert bereits!");
					  	else {
					  		var neu = data.substr(1, data.length-2);
					  		alert("Produktregistrierung erfolgreich");
					  		window.location.href = 'http://localhost:3001/admin/produktregistrierung';
					  	}
					  }
				});
			};
			
			function put() {
				var p = new Object();
				p.produkt=$("#produkt").val();
				p.hersteller=$("#hersteller").val();
				p.preis=$("#preis").val();
				p.herkunft=$("#herkunft").val();
				p.vorrat=$("#vorrat").val();
				p.gekauft=0;
				$.ajax({
					  async: true,
					  host: "localhost",
					  port: 3001,
					  url: '/products',
					  dataType: 'json',
					  type: 'put',
					  contentType: 'application/json',
					  data: JSON.stringify(p),
					  success: function(data){
					  	if(data==201) alert("Produkt existiert nicht!");
					  	else {
					  		alert("Produktaenderung erfolgreich");
					  		window.location.href = 'http://localhost:3001/admin/produktregistrierung';
					  	}
					  }
				});
			};
		</script>
	</head>
	<body>
		<h1> Produkt registrieren </h1>
		<form id="form">
			<input type="text" id="produkt" size="40" placeholder="Produktname" required><br>
			<input type="text" id="hersteller" size="40" placeholder="Hersteller" required><br>
			<input type="text" id="herkunft" size="40" placeholder="Herkunftsland" required><br>
			<input type="number" id="preis" size="8" step="0.01" min="0.01" placeholder="Einzelpreis" required><br>
			<input type="number" id="vorrat" size="8" step="1" placeholder="Vorrat" required><br>


			<input type="submit" id="sub" value="Registrieren" onClick="post();return false;"><input type="submit" id="sub" value="aktualisieren" onClick="put();return false;"><br><br>
		</form>
		<a href="/products/admin">Produkte</a>
	</body>
</html>
