<html>
	<head>
		<title>Registrierung</title>
		<link href="styleregist.css" type="text/css" rel="stylesheet" / > 
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"> </script>
		<script type="text/javascript">

			function feuer(){
					  var passwort, benutzer, vorname, nachname, strasse, nr, stadt, user_name, passwort;
						vorname=$("#vorname").val();
						nachname=$("#nachname").val();

						strasse=$("#strasse").val();
						nr=$("#nr").val();
						stadt=$("#stadt").val();
						plz=$("#plz").val();
						user_name=$("#user").val();
						password=$("#password").val();

						var user = new Object();
					  // speichern der Temporären Variablen in die Object-Variable user
					  	user.vorname=vorname;
					  	user.nachname=nachname;
					  	user.password=password;

						user.strasse=strasse;
						user.nr=nr;
						user.stadt=stadt;
					  user.plz=plz;
						user.user_name=user_name;
						user.basket=[];

				$.ajax({
					  async: true,
					  host: "localhost",
					  port: 3001,
					  url: '/users',
					  dataType: 'json',
					  type: 'post',
					  contentType: 'application/json',
					  data: JSON.stringify(user),
					  success: function(data){
					  	if(data==201) alert("Nutzer existiert bereits!");
					  	else {
					  		var neu = data.substr(1, data.length-2);
					  		alert("Registrierung erfolgreich! ID:" +neu);
					  		window.location.href = 'http://localhost:3001/products/' + neu;
					  	}
					  }
				});
			};



		</script>
	</head>
	<body>
	<nav class="navbar navbar-default">
			<div class="container-fluid">

				<!-- logo -->
				<div class="navbar-header">
					<a href="#" class="navbar-brand">INTERNET SHOP</a>
				</div>

				<!-- menu items -->
				<div>
					<ul class="nav navbar-nav">
						<li class="aktiv" ><a href="#">Home</a></li>
						<li><a href="#"> About </a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">


		<div class="row">
			<div class="col-md-4" ></div>
			<div class="col-md-4" >
				<h1> Registrierung</h1>
		<form id="form">
			<p> Vorname </p> 
			<input type="TEXT" id="vorname" size="40" placeholder="Vorname" required>
			<p></p>
			<p> Name </p> 
			<input type="text" id="nachname" size="40" placeholder="Nachname" required>
			<p></p>
			<p> Straße </p> 
			<input type="text" id="strasse" size="40" placeholder="Straße" required>
			<p></p>
			<p> Straßennummer </p>
			<input type="number" id="nr" size="4" placeholder="Nummer" required>
			<p></p>
			<p> Postleitzahl </p>
			<input type="number" id="plz" size="7" placeholder="PLZ" required>
			<p></p>
			<p> Stadt </p>
			<input type="text" id="stadt" size="40" placeholder="Stadt" required>
			<p></p>
			<p> Benutzername </p>
			<input type="text" id="user" size="40" placeholder="Benutzername" required>
			<p></p>
			<p> Passwort </p>
			<input type="password" id="password" size="40" placeholder="Passwort" required><br>
			<br>
			<input type="submit" id="sub" value="Registrieren" onClick="feuer();return false;" ><br><br>
		</form>
		<a href="/start">Login</a>
	
	</div>
	<div class="col-md-4" ></div>
	

		

		 
		

	</body>
</html>
