<html>
	<head>
		<title>Login</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"> </script>
		<script>
			$(document).ready(function() {
				$("#form").submit(function( event ) {
					  var passwort, benutzer;
					  benutzer=$("#user").val();
					  passwort=$("#password").val();
					  var user = new Object();
					  // speichern der Temporären Variablen in die Object-Variable user
					  user.benutzer=benutzer;
					  user.passwort=passwort;
				
				$.ajax({
					  host: "localhost",
					  port: 3001,
					  url: '/login',
					  dataType: 'json',
					  type: 'post',
					  contentType: 'application/json',
					  data: JSON.stringify(user),
					  success: function(data){
					  	if(data=="Benutzer existiert nicht") alert(data);	
					  	if(data=="admin") window.location.href="localhost:3001/products";				  	
					  }
				});
				alert();
				});
			});
			
		</script>
	</head>
	<body>
		<h1> Login </h1>
		<form id="form">
			<input type="TEXT" id="user" size="40" placeholder="Benutzername"><br>
			<input type="password" id="password" size="40"><br>
			<input type="submit" id="sub" value="login"><br><br>
		</form>
		<a href="/los">Registrieren</a>
	</body>
</html>
