<html>
	<head>
		<title>Login</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"> </script>
		<link href="startstyle.css" type="text/css" rel="stylesheet" / > 
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script type="text/javascript">


			function feuer(){
					  var passwort, benutzer;
					  benutzer=$("#user").val();
					  passwort=$("#password").val();
					  var user = new Object();
					  // speichern der Temporären Variablen in die Object-Variable user
					  user.benutzer=benutzer;
					  user.passwort=passwort;

				$.ajax({
					  async: true,
					  host: "localhost",
					  port: 3001,
					  url: '/login',
					  dataType: 'json',
					  type: 'post',
					  contentType: 'application/json',
					  data: JSON.stringify(user),
					  success: function(data){
					  	if(data==201) alert("Benutzer existiert nicht!");
					  	else if(data==202) {
					  		alert("admin");
					  		window.location.href = 'http://localhost:3001/admin/produktsuche';
					  	}
					  	else if(data==203) alert("Falsches PW");
					  	else {
					  		var neu = data.substr(1, data.length-2);
					  		window.location.href = 'http://localhost:3001/products/' + neu;
					  	}
					  }
				});
			};



		</script>
	</head>
	<body>
		<div class="div1" id="div01"> Internet Shop     </div>
		<div class="div1" id="div02">

		<div class="div1" id="div03">	
			<h1> Login </h1>
		<form id="form">
			<input type="TEXT" id="user" size="40" placeholder="Benutzername"><br>
			<input type="password" id="password" size="40"><br>
			<input type="submit" id="sub" value="login" onClick="feuer();return false;"><br><br>
		</form>
		<a href="/registrierung">Registrieren</a>
	</div>
	</div>
	</body>
</html>
