@charset "utf-8";

body{margin:0px; }



:link{color:white;}

.div1{background-color:#545454;
	
		color: white;}


#div01{width:100%;height:50px;text-align: center;font-size:30px;color:white;}

#div02{width:100%;height:900px;
		background-color:white;}

#div03{margin-top:200px;width:300px;


			display: block;
    		margin-left: auto;
    		margin-right: auto;
    		text-align: center;}

#sub{background-color:black;border:0px;}