<html>
  <head>
    <title><Startseite></title>
         <meta http-equiv="content-type" content="text/html; charset=utf-8"/ >
         <link href="styleUserHome.css" type="text/css" rel="stylesheet" / > 
  </head>
  <body>
    <div class ="div1" id="topBar"> Top Bar  </div>
    <div class ="div2" id="inhalt"> 
      <div class ="div2" id="inhalt2"> 
       
          <% for(var i = 0;i<10;i++){ %>

          blaa






          <% } %>

      </div>

    </div>

  </body>
</html>